#root{
    --color-white-blue:#a7bcff;
    --color-white:#fff;
    --color-white-purple:#5d5b8d;
    --color-purple-blue:#7b96ec;
    --color-super-gray:rgb(176, 174, 174);
    --color-light-blue:#8da4f1;
}